# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
*.egg
.eggs/
*.egg-info/
.installed.cfg
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
.idea/*

# Visual Studio Code
.vscode/
